html{
    box-sizing: border-box;
}
nav{
    display: flex;
    justify-content: space-between;
}
.secondnav li{
    display: inline-block;
    margin: 0 5px;
}
main{
    width: 500px;
    display: flex;
    justify-content: space-around;
    align-items: center
}
.first, .second{
    background-color: aqua;
    width: 300px;
    height: 300px;
    text-align: center;
    display: flex;
    justify-content: space-around;
    align-items: center;
}